rehtml,
body {
  height: 100%;
  width: 100%;
  background: #1D1E22;
  }

.wrapper {
  position: absolute;
  left: 30px;
  top: 30px;
  right:30px;
  Bottom:30px;
}

#date {
  color: #CCCCCC;
  text-align: center;
  font-size: 32px;
    }
