rehtml,
body {
  height: 100%;
  width: 100%;
  background: #1D1E22;
}

.wrapper {
  position: absolute;
  left: 50px;
  top: 50px;
  right:50px;
  Bottom:50px;
}

#date {
  color: white;
  text-align: center;
  font-size: 1.0em;
  }

#time {
  color: white;
  text-align: center;
  font-size: 1.0em;
  }
